body{
    background-color: #E2A23F;
    font-family: 'Poppins'
}

section{
    background-color: white;
    font: normal 20px;
    text-align: center;
    border-radius: 50px;
    width: 800px;
    height: auto;
    padding-bottom: 15px;
    margin: auto;
    box-shadow: 5px 5px 50px black;
}

img{
    border-radius: 15px;
    height: 200px;
    width: 750px;
}

footer{
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    font-style: italic;
}

footer:hover{
    font-style: normal;
}

.listas{
    text-align: left;
}

.h2font:hover{
    color: #e2a23f;
}

p{
    text-align: right;
    margin: auto;
    margin-right: 35px;
    font-size: 12px;
}